.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.icon-bar {
  width: 22px;
  transition: all 0.2s;
  background-color: #111111;
  height: 2px;
  border-radius: 1px;
  display: block;
}

.middle-bar,
.bottom-bar {
  margin-top: 4px;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
